{%- set commonLabels = payload.get("commonLabels", {}) -%}
{{- '_' ~ commonLabels.get("alertname", "") ~ '_' -}}{%- if incident.assigned_user != "" %} (*assigned to @{{ incident.assigned_user }}*){% endif -%}
