.wy-nav-content {
    max-width: 1000px;
    background: #ffffff;
}
/* hide buttons Previous / Next */
.rst-versions .rst-current-version {
    display: none;
}
.rst-footer-buttons {
    display: none;
}
footer {
    display: none;
}
blockquote p {
    margin: 0 0 8px;
}
div.section p {
    margin: 0 0 8px;
}
h2 {
	margin-top: 24px;
}
h3 {
	margin-top: 24px;
}
.rst-content blockquote {
    margin-bottom: 0px;
}
img {
	color: #555555;
	padding: 0px;
}
/* hide site_name from menu */
.md-nav__title {
  display: none;
}
/* navigation menu sections font size */
.md-nav__item--section.md-nav__item--nested {
  font-size: 18px;
}
/* header color */
.md-header {
  background-color: #278fd6;
}
.md-nav__item--section.md-nav__item--nested > .md-nav__link {
  color: #278fd6;
}
.md-nav__item--section.md-nav__item--nested > .md-nav__link:hover {
  color: #278fd6;
}
/* headers for config page */
.md-typeset h2 {
  font-size: 1.4em;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 1em;
}
.md-typeset h3 {
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}
.md-typeset h4 {
  font-size: 1.0em;
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.75em;
}
/* title near logo */
[dir=ltr] .md-header__title {
    margin-left: .2rem;
}